<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/tabs/users" (click)="onCancel()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onCreateUser()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create Album</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-input label="Email" formControlName="email" type="email" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password" formControlName="password" type="password" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Full Name" formControlName="fullName" type="text" labelPlacement="floating"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
