<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="clear" mode="ios" routerLink="/artist-login">
        Login for artist
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input class="ion-margin-bottom" fill="outline"
                   label="Email" labelPlacement="floating" formControlName="email" placeholder="example@gmail.com"
                   required="" type="email"></ion-input>
        <ion-input class="ion-margin-bottom" fill="outline" label="Password"
                   labelPlacement="floating" minLength="8" formControlName="password" placeholder="password"
                   required="" type="password"></ion-input>
        <ion-buttons>
          <ion-button color="primary" fill="clear" mode="ios" type="button" routerLink="/user-register">Switch to
            Signup
          </ion-button>
          <ion-button color="primary" fill="solid" mode="ios" type="submit" (click)="onLogin()">Login</ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
